/* --------------------- no_connection_scene.fxml --------------------- */

.no-connecion {
    -fx-background-color: lightgray;
}

.no-connecion .content {
    -fx-background-color: lightgray;
    -fx-text-alignment: center;
}

/* -------------------------------------------------------------------- */



/* ------------------------- main_scene.fxml -------------------------- */

.lab-tree-view {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-font-size: 12px;
}

.lab-tab-pane {
    -fx-background-color: lightgray;
}

.copy-button {
    -fx-background-radius: 5em;
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;
    -fx-background-image: url("copy-button-icon.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.code-text-area > .scroll-pane {
    -fx-vbar-policy:always; /* Control the vertical ScrollBar (always,needed,never) */
    -fx-hbar-policy:always; /* Control the horizontal ScrollBar (always,needed,never) */
}

/* -------------------------------------------------------------------- */